@import "tailwindcss";


.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #2D3748; 
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4A5568; 
  border-radius: 3px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #718096; 
}